/******************************************************************************
 *
 * Styles for the Whitelist for Chrome extension.
 *
 ******************************************************************************/

/* Global styles */

body {
  background: #fff;
  color: #000;
  font: normal 14px/1.5 'Lucida Grande', 'Lucida Sans', 'Helvetica', 'Arial', sans-serif;
}

a {
  color: #000;
  text-decoration: none;
}

/* Form styles */

label {
  display: block;
}
label:after {
  content: ':';
}
label.inline {
  display: inline;
}
label.inline:after {
  content: '';
}

input[type='password'],
input[type='text'] {
  background: #fff;
  border: solid 1px #999;
  -webkit-border-radius: 1em;
  -webkit-background-clip: padding-box;
  color: #333;
  font: 1em 'Lucida Grande', 'Lucida Sans', 'Helvetica', 'Arial', sans-serif;
  padding: .65em 1em .25em 1em;
  width: 12.5em;
}
input[type='password']:focus,
input[type='text']:focus {
  border-color: #666;
  -webkit-box-shadow: rgba(0,0,0,.25) 0 0 .5em;
  outline: none;
}
input[type='password']:disabled,
input[type='text']:disabled {
  background: #eee;
  color: #999;
}

input[type='button'],
input[type='reset'],
input[type='submit'] {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#ccc));
  border: 1px solid #999;
  -webkit-border-radius: 1em;
  color: #333;
  cursor: pointer;
  font: 1em 'Lucida Grande', 'Lucida Sans', 'Helvetica', 'Arial', sans-serif;
  padding: .6em 1em .5em 1em;
  text-align: center;
  text-shadow: 0 1px 1px #fff;
}
input[type='button']:focus,
input[type='reset']:focus,
input[type='submit']:focus {
  border-color: #666;
  -webkit-box-shadow: rgba(0,0,0,.25) 0 0 .5em;
  outline: none;
}
input[type='button']:hover,
input[type='reset']:hover,
input[type='submit']:hover {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#ccc));
}
input[type='button']:active,
input[type='reset']:active,
input[type='submit']:active {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#bbb), to(#ccc));
}
input[type='button']:disabled,
input[type='reset']:disabled,
input[type='submit']:disabled {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#ccc));
  color: #999;
  cursor: default;
}

/* Messages */

.message {
  margin-left: -18em;
  padding: 1em;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 15em;

  opacity: 0;
  -webkit-transition: opacity .25s ease-in-out;
}
.error.message {
  background: #fdd;
  border: 1px solid #d00;
  -webkit-border-radius: 1em;
  color: #a00;
}
.success.message {
  background: #dfd;
  border: 1px solid #0d0;
  -webkit-border-radius: 1em;
  color: #0a0;
}

/******************************************************************************/

/* Content wrapper */

#wrapper {
  margin: 0 auto;
  padding: 0 0 3em 0;

  display: block;
  width: 480px;
}

/******************************************************************************/

/* Options */

#options fieldset {
  -webkit-border-radius: 1em;
  -webkit-box-shadow: rgba(0,0,0,.25) 0 .15em 1em;
  display: block;
  padding: 1em 2em;
}
#options fieldset legend {
  border-bottom: 1px solid #ddd;
  display: inline-block;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 2em;
  padding: 3em 0 0 0;
  text-align: center;
  width: 100%;
}

#options fieldset div {
  padding: .5em 0;
  position: relative;
}

#options input[type='password'],
#options input[type='text'] {
  width: 20em;
}
#options input[type='button'],
#options input[type='reset'],
#options input[type='submit'] {
  width: 7.5em;
}

#options .sortable li {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#ccc));
  border: 1px solid #999;
  -webkit-border-radius: 1em;
  margin: .5em 0 0 0;
  padding: .25em 1em;
}
#options .sortable li:hover {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#ccc));
}
#options .sortable li.highlight {
  background: #eee;
  border: 1px solid #999;
  -webkit-border-radius: 1em;
  height: 1.5em;
}
#options .sortable li .handle {
  cursor: move;
  display: inline-block;
  overflow: hidden;
  padding: 0 0 0 .5em;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 26em;
}
#options .sortable li .remove {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  width: 1.5em;
}

#options .buttons {
  padding: 2.5em 2em 0 2em;
  position: relative;
  text-align: right;
}

/******************************************************************************/

/* Dialog */

#dialog {
  background-color: rgba(0,0,0,.75);
  display: table;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2147483647;

  display: none;
}
.locked #dialog {
  display: table;
}
#dialog > div {
  display: table-cell;
  vertical-align: middle;
}
#dialog > div > div {
  background-color: rgba(255,255,255,.95);
  -webkit-border-radius: 1em;
  -webkit-box-shadow: rgba(0,0,0,.75) 0 .15em 1em;
  display: block;
  margin: 0 auto;
  padding: 1.5em 2em 2em 2em;
  text-align: center;
  width: 420px;
}

#dialog h1 {
  border-bottom: 1px solid #ddd;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 2em;
  margin: 0 0 1em 0;
  text-align: center;
}

#dialog div {
  padding: .5em 0;
}

#dialog .highlight {
  display: block;
  font-weight: bold;
  overflow: hidden;
  padding: 0 0 1em 0;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#dialog .buttons {
  padding: 1.5em 0 0 0;
  text-align: center;
}

/******************************************************************************/

/* Popup */

#popup {
  background: #fff -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#eee));
  padding: 1em 2em;
}


/******************************************************************************/

/* Animations */

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

